_style_3Yp9vg {
    position: relative !important;
    float: left !important;
    margin-bottom: -60px !important;
    margin-top: 44px !important;
    margin-left: 100px !important;
    z-index: 40 !important;
}
